{% extends 'base/base.html' %}

{% block nav %}

{% include 'base/Navbar.html' %}
{% endblock nav %}
{% block maincontent %}


<div class="container">
<div class="table-responsive">
<table class="table table-dark table-striped table-bordered mt-2">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Last Login</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="tbody-light">
        {% for user in data %}
        {% if user.is_staff == 0 %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.last_login}}</td>
            <td>
                {% if user.is_active == 1 %}

                <p class="text-success" id="statustext{{user.id}}">Active</p>

                {% else %}

                <p class="text-danger" id="statustext{{user.id}}">Inactive</p>
                  
                {% endif %}

            </td>
            <td>
                {% if user.is_active == 1 %}

                <a class="disablebtn btn btn-danger" id="statusbtn{{user.id}}" user_id="{{user.id}}">Disable</a>

                {% else %}
                
                <a class="enablebtn btn btn-success" id="statusbtn{{user.id}}" user_id="{{user.id}}">Enable</a>
                  
                {% endif %}

            </td>
            {% endif %}
            {% endfor %}

        </tr>
    </tbody>
</table>
</div>
</div>



{%block scripts%}
<script type="text/javascript">
  $(document).on('click','.disablebtn',function(e){
    e.preventDefault();
    var user_id = $(this).attr('user_id');
    $.ajax(
      {
          type: "POST",
          url: "{%url 'changeuserstatus'%}",
          dataType: 'json',
          data: {action:'disable',user:user_id},
          success: function(data) {
            
            $('#statusbtn'+user_id).toggleClass('disablebtn enablebtn');
            $('#statusbtn'+user_id).toggleClass('btn-danger btn-success');
            $('#statustext'+user_id).toggleClass('text-danger text-success')
            $('#statustext'+user_id).text('Inactive');
            $('#statusbtn'+user_id).text('Enable');
          },
          error: function() { 
            alert("server error");
            console.log(user_id)
          }
      });
  });

  $(document).on('click','.enablebtn',function(e){
    e.preventDefault();
    var user_id = $(this).attr('user_id');
    $.ajax(
      {
          type: "POST",
          url: "{%url 'changeuserstatus'%}",
          dataType: 'json',
          data: {action:'enable',user:user_id},
          success: function(data) {
            $('#statusbtn'+user_id).toggleClass('enablebtn disablebtn ');
            $('#statusbtn'+user_id).toggleClass('btn-success btn-danger');
            $('#statustext'+user_id).toggleClass('text-success text-danger')
            $('#statustext'+user_id).text('Active');
            $('#statusbtn'+user_id).text('Enable');

          },
          error: function() { 
            alert("server error");
          }
      });
  });
</script>
{% endblock %}


{% endblock maincontent %}
